# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

# Default code owner for all files in the repository
*                   @LordCogsWorth
src/a2a/types.py    @a2a-bot
